## Feature Engineering

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data/train.csv')

In [3]:
df.rename(columns={'Province_State':'State','Country_Region':'Country'}, inplace=True)

In [4]:
df.head()

,Id,County,State,Country,Population,Weight,Date,Target,TargetValue
0,1,NaN,NaN,Afghanistan,27657145,0.058359,2020-01-23,ConfirmedCases,0.0
1,2,NaN,NaN,Afghanistan,27657145,0.583587,2020-01-23,Fatalities,0.0
2,3,NaN,NaN,Afghanistan,27657145,0.058359,2020-01-24,ConfirmedCases,0.0
3,4,NaN,NaN,Afghanistan,27657145,0.583587,2020-01-24,Fatalities,0.0
4,5,NaN,NaN,Afghanistan,27657145,0.058359,2020-01-25,ConfirmedCases,0.0

In [5]:
df = pd.concat([df, pd.get_dummies(df['Country'], prefix='Country')],axis=1)

In [6]:
df.head()

,Id,County,State,Country,Population,Weight,Date,Target,TargetValue,Country_Afghanistan,...,Country_United Kingdom,Country_Uruguay,Country_Uzbekistan,Country_Venezuela,Country_Vietnam,Country_West Bank and Gaza,Country_Western Sahara,Country_Yemen,Country_Zambia,Country_Zimbabwe
0,1,NaN,NaN,Afghanistan,27657145,0.058359,2020-01-23,ConfirmedCases,0.0,1,...,0,0,0,0,0,0,0,0,0,0
1,2,NaN,NaN,Afghanistan,27657145,0.583587,2020-01-23,Fatalities,0.0,1,...,0,0,0,0,0,0,0,0,0,0
2,3,NaN,NaN,Afghanistan,27657145,0.058359,2020-01-24,ConfirmedCases,0.0,1,...,0,0,0,0,0,0,0,0,0,0
3,4,NaN,NaN,Afghanistan,27657145,0.583587,2020-01-24,Fatalities,0.0,1,...,0,0,0,0,0,0,0,0,0,0
4,5,NaN,NaN,Afghanistan,27657145,0.058359,2020-01-25,ConfirmedCases,0.0,1,...,0,0,0,0,0,0,0,0,0,0

In [7]:
df = pd.concat([df, pd.get_dummies(df['Target'], prefix='Target')],axis=1)

In [8]:
df.head()

,Id,County,State,Country,Population,Weight,Date,Target,TargetValue,Country_Afghanistan,...,Country_Uzbekistan,Country_Venezuela,Country_Vietnam,Country_West Bank and Gaza,Country_Western Sahara,Country_Yemen,Country_Zambia,Country_Zimbabwe,Target_ConfirmedCases,Target_Fatalities
0,1,NaN,NaN,Afghanistan,27657145,0.058359,2020-01-23,ConfirmedCases,0.0,1,...,0,0,0,0,0,0,0,0,1,0
1,2,NaN,NaN,Afghanistan,27657145,0.583587,2020-01-23,Fatalities,0.0,1,...,0,0,0,0,0,0,0,0,0,1
2,3,NaN,NaN,Afghanistan,27657145,0.058359,2020-01-24,ConfirmedCases,0.0,1,...,0,0,0,0,0,0,0,0,1,0
3,4,NaN,NaN,Afghanistan,27657145,0.583587,2020-01-24,Fatalities,0.0,1,...,0,0,0,0,0,0,0,0,0,1
4,5,NaN,NaN,Afghanistan,27657145,0.058359,2020-01-25,ConfirmedCases,0.0,1,...,0,0,0,0,0,0,0,0,1,0

In [9]:
#function for replacing all the missings in the state column
def missings(field, country):
    return country if pd.isna(field) == True else field

In [10]:
df.head()

,Id,County,State,Country,Population,Weight,Date,Target,TargetValue,Country_Afghanistan,...,Country_Uzbekistan,Country_Venezuela,Country_Vietnam,Country_West Bank and Gaza,Country_Western Sahara,Country_Yemen,Country_Zambia,Country_Zimbabwe,Target_ConfirmedCases,Target_Fatalities
0,1,NaN,NaN,Afghanistan,27657145,0.058359,2020-01-23,ConfirmedCases,0.0,1,...,0,0,0,0,0,0,0,0,1,0
1,2,NaN,NaN,Afghanistan,27657145,0.583587,2020-01-23,Fatalities,0.0,1,...,0,0,0,0,0,0,0,0,0,1
2,3,NaN,NaN,Afghanistan,27657145,0.058359,2020-01-24,ConfirmedCases,0.0,1,...,0,0,0,0,0,0,0,0,1,0
3,4,NaN,NaN,Afghanistan,27657145,0.583587,2020-01-24,Fatalities,0.0,1,...,0,0,0,0,0,0,0,0,0,1
4,5,NaN,NaN,Afghanistan,27657145,0.058359,2020-01-25,ConfirmedCases,0.0,1,...,0,0,0,0,0,0,0,0,1,0

In [11]:
df['State'] = df.apply(lambda x: missings(x['State'],x['Country']),axis=1)

In [12]:
del df['County']

In [13]:
df.head()

,Id,State,Country,Population,Weight,Date,Target,TargetValue,Country_Afghanistan,Country_Albania,...,Country_Uzbekistan,Country_Venezuela,Country_Vietnam,Country_West Bank and Gaza,Country_Western Sahara,Country_Yemen,Country_Zambia,Country_Zimbabwe,Target_ConfirmedCases,Target_Fatalities
0,1,Afghanistan,Afghanistan,27657145,0.058359,2020-01-23,ConfirmedCases,0.0,1,0,...,0,0,0,0,0,0,0,0,1,0
1,2,Afghanistan,Afghanistan,27657145,0.583587,2020-01-23,Fatalities,0.0,1,0,...,0,0,0,0,0,0,0,0,0,1
2,3,Afghanistan,Afghanistan,27657145,0.058359,2020-01-24,ConfirmedCases,0.0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,4,Afghanistan,Afghanistan,27657145,0.583587,2020-01-24,Fatalities,0.0,1,0,...,0,0,0,0,0,0,0,0,0,1
4,5,Afghanistan,Afghanistan,27657145,0.058359,2020-01-25,ConfirmedCases,0.0,1,0,...,0,0,0,0,0,0,0,0,1,0

In [14]:
df['Week'] = pd.to_datetime(df['Date']).dt.week
df['Day'] =  pd.to_datetime(df['Date']).dt.day
df['Weekday'] = pd.to_datetime(df['Date']).dt.dayofweek
df['DayOfYear'] =  pd.to_datetime(df['Date']).dt.dayofyear

In [15]:
del df['Country']

In [16]:
df.head()

,Id,State,Population,Weight,Date,Target,TargetValue,Country_Afghanistan,Country_Albania,Country_Algeria,...,Country_Western Sahara,Country_Yemen,Country_Zambia,Country_Zimbabwe,Target_ConfirmedCases,Target_Fatalities,Week,Day,Weekday,DayOfYear
0,1,Afghanistan,27657145,0.058359,2020-01-23,ConfirmedCases,0.0,1,0,0,...,0,0,0,0,1,0,4,23,3,23
1,2,Afghanistan,27657145,0.583587,2020-01-23,Fatalities,0.0,1,0,0,...,0,0,0,0,0,1,4,23,3,23
2,3,Afghanistan,27657145,0.058359,2020-01-24,ConfirmedCases,0.0,1,0,0,...,0,0,0,0,1,0,4,24,4,24
3,4,Afghanistan,27657145,0.583587,2020-01-24,Fatalities,0.0,1,0,0,...,0,0,0,0,0,1,4,24,4,24
4,5,Afghanistan,27657145,0.058359,2020-01-25,ConfirmedCases,0.0,1,0,0,...,0,0,0,0,1,0,4,25,5,25

In [17]:
df = pd.concat([df, pd.get_dummies(df['State'], prefix='State')],axis=1)

In [18]:
df.head()

,Id,State,Population,Weight,Date,Target,TargetValue,Country_Afghanistan,Country_Albania,Country_Algeria,...,State_Western Sahara,State_Wisconsin,State_Wyoming,State_Xinjiang,State_Yemen,State_Yukon,State_Yunnan,State_Zambia,State_Zhejiang,State_Zimbabwe
0,1,Afghanistan,27657145,0.058359,2020-01-23,ConfirmedCases,0.0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,Afghanistan,27657145,0.583587,2020-01-23,Fatalities,0.0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,3,Afghanistan,27657145,0.058359,2020-01-24,ConfirmedCases,0.0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,Afghanistan,27657145,0.583587,2020-01-24,Fatalities,0.0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,Afghanistan,27657145,0.058359,2020-01-25,ConfirmedCases,0.0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [19]:
del df['State']

In [20]:
df.head()

,Id,Population,Weight,Date,Target,TargetValue,Country_Afghanistan,Country_Albania,Country_Algeria,Country_Andorra,...,State_Western Sahara,State_Wisconsin,State_Wyoming,State_Xinjiang,State_Yemen,State_Yukon,State_Yunnan,State_Zambia,State_Zhejiang,State_Zimbabwe
0,1,27657145,0.058359,2020-01-23,ConfirmedCases,0.0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,27657145,0.583587,2020-01-23,Fatalities,0.0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,3,27657145,0.058359,2020-01-24,ConfirmedCases,0.0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,27657145,0.583587,2020-01-24,Fatalities,0.0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,27657145,0.058359,2020-01-25,ConfirmedCases,0.0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [21]:
del df['Target']

In [22]:
mask_test = (df['Date'] >= '2020-05-20')
mask_train = (df['Date'] < '2020-05-20')

In [23]:
test_df = df.loc[mask_test]
train_df = df.loc[mask_train]

In [24]:
del train_df['Date']
del test_df['Date']

In [25]:
train_df.head()

,Id,Population,Weight,TargetValue,Country_Afghanistan,Country_Albania,Country_Algeria,Country_Andorra,Country_Angola,Country_Antigua and Barbuda,...,State_Western Sahara,State_Wisconsin,State_Wyoming,State_Xinjiang,State_Yemen,State_Yukon,State_Yunnan,State_Zambia,State_Zhejiang,State_Zimbabwe
0,1,27657145,0.058359,0.0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,27657145,0.583587,0.0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,3,27657145,0.058359,0.0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,27657145,0.583587,0.0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,27657145,0.058359,0.0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [26]:
test_df.head()

,Id,Population,Weight,TargetValue,Country_Afghanistan,Country_Albania,Country_Algeria,Country_Andorra,Country_Angola,Country_Antigua and Barbuda,...,State_Western Sahara,State_Wisconsin,State_Wyoming,State_Xinjiang,State_Yemen,State_Yukon,State_Yunnan,State_Zambia,State_Zhejiang,State_Zimbabwe
236,237,27657145,0.058359,492.0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
237,238,27657145,0.583587,9.0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
238,239,27657145,0.058359,531.0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
239,240,27657145,0.583587,6.0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
240,241,27657145,0.058359,540.0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

# Model selection

### Ridge Regression

In [27]:
import numpy as np
from sklearn import linear_model

In [28]:
reg = linear_model.RidgeCV(alphas=np.logspace(-6, 6, 13))

In [29]:
features_train = list(train_df.columns)
features_test = list(test_df.columns)

In [30]:
features_train.remove('TargetValue')
features_train.remove('Id')

features_test.remove('TargetValue')
features_test.remove('Id')

In [31]:
x_train = train_df.loc[:, features_train]
x_test = test_df.loc[:, features_test]

In [32]:
y_train = train_df.loc[:, ['TargetValue']]
y_test = test_df.loc[:, ['TargetValue']]

In [33]:
reg.fit(x_train, y_train)

RidgeCV(alphas=array([1.e-06, 1.e-05, 1.e-04, 1.e-03, 1.e-02, 1.e-01, 1.e+00, 1.e+01,
       1.e+02, 1.e+03, 1.e+04, 1.e+05, 1.e+06]),
        cv=None, fit_intercept=True, gcv_mode=None, normalize=False,
        scoring=None, store_cv_values=False)

In [34]:
reg.score(x_test, y_test)

-9.657217837094651e+17